* {
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  color: black;
}

body {
    color: #2F4858;
  }
  
  html {
    background-color: #77dcee;  
  }
  
  nav {
    height: 6rem;
  }
  
  nav ul a,
  nav .brand-logo,
  .page-footer, 
  .page-footer .footer-copyright,
  #dividerL, 
  #dividerR,
  .nav-wrapper {
    color:#2F4858;
  }
  
  a {
    color: #008A7D;
  }

  h5 {
    margin:0.5rem;
  }
  
  p {
    line-height: 2rem;
    margin:0.5rem;
  }
  
  .btn {
    background-color: #2F4858;
  }
  
  #profileImg {
    margin-top: 2.25rem;
  }
  
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
  }
    
  .parallax-container .section {
      width: 100%;
    }
  
    @media only screen and (min-width : 915px) {
      #profileImg {
        margin-top: 3rem;
      }
     
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    .at600 {
      margin-top: 2.25rem;
    }
    #index-banner .section {
      top: 0;
    }
    /* .card {
      width: 5rem ;
    }  */
  }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
  
  /* contact me css */
  
  .links li {
    list-style-type: none;
    display: inline;
    padding-right: 0.75rem;
    margin-left:0.25rem;
    color:#2F4858;
  }
  

.card {
   width:50rem;
     /* height: 80%; */
    /* position:relative; */
    margin: 1rem 0 1rem 0;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    display:block;
    align-content: center;
  justify-items: center;
}